body {
  font-family: serif;
  font-size: 1.5rem;
  background-color: #ffffff;
}

#contenido {
  margin-left: unset;
}

#divCambioTemas {
  margin-top: 10px;
  background-color: white;
  border: none;
}

#temaNormal,
#temaMinimalista {
  font-weight: normal;
  text-decoration: underline;
}

#barraLateral {
  display: none;
}

#tercerParrafo {
  display: none;
}

#parrafoMarco {
  background-color: white;
  border: none;
}
